{% extends "base.html" %}
{% load i18n staticfiles scheduletags %}

{% block body %}
<div class="navigation" align="center">
  <a class="btn btn-primary gradient" href="{% url "day_calendar" event.calendar.slug %}{% querystring_for_date datetime_now 3 %}">
    {% trans "Day" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "week_calendar" event.calendar.slug %}{% querystring_for_date datetime_now 3 %}">
    {% trans "Week" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "month_calendar" event.calendar.slug %}{% querystring_for_date datetime_now 2 %}">
    {% trans "Month" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" event.calendar.slug %}{% querystring_for_date datetime_now 1 %}">
    {% trans "Year" %}
  </a>
</div>

<br>
<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </a>
  &nbsp;
  {% endif %}
</div>


<h2> Event </h2>

{% event_detail event %}

{% if can_edit %}
<a href="{% url "edit_event" event.calendar.slug event.id %}">
  <button type="button" class="btn btn-default">
 {% trans "Edit Event" %} <span class="glyphicon glyphicon-pencil"></span>
 </button>
</a>
&nbsp;
<a href="{% url "delete_event" event.id %}">
  <button type="button" class="btn btn-default">
 {% trans "Delete Event and all Occurrences" %} <span class="glyphicon glyphicon-remove"></span>
 </button>
</a>
{% endif %}

{% endblock %}
