{% extends "base.html" %}
{% load i18n staticfiles scheduletags %}

{% block body %}
<div class="navigation">
  <div class="row row-centered" >
  <a class="btn btn-primary gradient" href="{% url "day_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 3  %}">
    {% trans "Day" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "week_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 3  %}">
    {% trans "Week" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 1  %}">
    {% trans "Year" %}
  </a>
  </div>
</div>

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </a>
  &nbsp;
  {% endif %}
</div>


<h3 align="center"> Occurrence </h3>

{% occurrence_detail occurrence %}


<a href="{{occurrence.get_edit_url}}">
 <button type="button" class="btn btn-default">
   {% trans "Edit Occurrence" %} <span class="glyphicon glyphicon-pencil"></span>
 </button>
</a>
&nbsp;
<a href="{{occurrence.get_cancel_url}}">
  <button type="button" class="btn btn-default">
 {% trans "Delete Occurrence" %} <span class="glyphicon glyphicon-remove"></span>
 </button>
</a>
&nbsp;
<a href="{%url 'event' event_id=occurrence.event.pk %}">
   <button type="button" class="btn btn-default">
     {% trans "Go To Event" %} <span class="glyphicon glyphicon-arrow-up"></span>
   </button>
 </a>
{% endblock %}
